In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('c:\\Users\\rv14996\\Building_Energy_Benchmarks.csv')

In [5]:
df.head()

,Unnamed: 0,X,Y,OBJECTID,PID,DCREALPROPERTYID,PMPROPERTYID,PROPERTYNAME,PMPARENTPROPERTYID,PARENTPROPERTYNAME,...,ELECTRICITYUSE_KBTU_MARCH,ELECTRICITYUSE_KBTU_APRIL,ELECTRICITYUSE_KBTU_MAY,ELECTRICITYUSE_KBTU_JUNE,ELECTRICITYUSE_KBTU_JULY,ELECTRICITYUSE_KBTU_AUGUST,ELECTRICITYUSE_KBTU_SEPTEMBER,ELECTRICITYUSE_KBTU_OCTOBER,ELECTRICITYUSE_KBTU_NOVEMBER,ELECTRICITYUSE_KBTU_DECEMBER
0,0,-77.025639,38.932687,1,PM3412372,2894_0896,3412372.0,Fifth District Station,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,-76.988002,38.856628,2,PM5811457,5872_0950,5811457.0,Douglass,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,-76.999189,38.829001,3,PM3365834,6207_0809,3365834.0,Hendley Elementary,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,-77.047668,38.902900,4,PM3996159,0073_0082,3996159.0,2131 K Street NW,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,-77.033067,38.932262,5,PM3412381,2678_0844,3412381.0,Engine Company #11,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.shape

(15508, 71)

In [6]:
df['ELECTRICITYUSE_KBTU_DECEMBER'].isnull().sum()

2757

In [7]:
#df[df.duplicated(subset=['PID'])]

In [8]:
#df[df.duplicated(subset=['PID', 'REPORTINGYEAR'])]

In [10]:
#def buildings_with_12_month_elec_data(integer):
#    reportingyear_counts = df.groupby(['PID'])['REPORTINGYEAR'].count().reset_index(name='Count')

In [16]:
#def buildings_with_12_month_elec_data(integer):
#    reportingyear_counts = df.groupby(['PID'])['REPORTINGYEAR'].count().reset_index(name='Count')
#    return reportingyear_counts[reportingyear_counts['Count'] >= integer].sort_values(by=['Count'], ascending=False)

#buildings_with_12_month_elec_data(12)

In [12]:
#reportingyear_counts = 1

In [33]:
#Number of buildings with 12 months of electricity usage data > 0 in 2019
twelve_months_elec = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['REPORTINGYEAR']==2019)]
print(twelve_months_elec.count()[0])

1756

In [34]:
#Number of buildings with 12 months of electricity usage data > 0 in 2018
twelve_months_elec = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['REPORTINGYEAR']==2018)]
print(twelve_months_elec.count()[0])

1699

In [36]:
#Number of buildings with 12 months of electricity usage data >= 0 in 2017
twelve_months_elec = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>=0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>=0) & (df['ELECTRICITYUSE_KBTU_MARCH']>=0) & (df['ELECTRICITYUSE_KBTU_APRIL']>=0) & (df['ELECTRICITYUSE_KBTU_MAY']>=0) & (df['ELECTRICITYUSE_KBTU_JUNE']>=0) & (df['ELECTRICITYUSE_KBTU_JULY']>=0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>=0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>=0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>=0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>=0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>=0) & (df['REPORTINGYEAR']==2017)]
print(twelve_months_elec.count()[0])

1586

In [39]:
#Number of buildings with 12 months of electricity usage data = 0 in 2017
twelve_months_elec = df[(df['ELECTRICITYUSE_KBTU_JANUARY']==0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']==0) & (df['ELECTRICITYUSE_KBTU_MARCH']==0) & (df['ELECTRICITYUSE_KBTU_APRIL']==0) & (df['ELECTRICITYUSE_KBTU_MAY']==0) & (df['ELECTRICITYUSE_KBTU_JUNE']==0) & (df['ELECTRICITYUSE_KBTU_JULY']==0) & (df['ELECTRICITYUSE_KBTU_AUGUST']==0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']==0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']==0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']==0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']==0) & (df['REPORTINGYEAR']==2017)]
print(twelve_months_elec.count()[0])

1586

In [30]:
#tme_energy_star = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0)]
#print(tme_energy_star.count()[0])

In [31]:
#tmeess_ghg = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0)]
#print(tmeess_ghg.count()[0])

In [32]:
#tmeessghg_water = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0)]
#print(tmeessghg_water.count()[0])

In [41]:
#tmeessghg_water_2019 = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0) & (df['REPORTINGYEAR']==2019)]
#print(tmeessghg_water_2019.count()[0])

In [58]:
transposed = pd.melt(df, id_vars=['PID', 'REPORTINGYEAR'], value_vars=['ELECTRICITYUSE_KBTU_JANUARY','ELECTRICITYUSE_KBTU_FEBRUARY','ELECTRICITYUSE_KBTU_MARCH','ELECTRICITYUSE_KBTU_APRIL','ELECTRICITYUSE_KBTU_MAY','ELECTRICITYUSE_KBTU_JUNE','ELECTRICITYUSE_KBTU_JULY','ELECTRICITYUSE_KBTU_AUGUST','ELECTRICITYUSE_KBTU_SEPTEMBER','ELECTRICITYUSE_KBTU_OCTOBER','ELECTRICITYUSE_KBTU_NOVEMBER','ELECTRICITYUSE_KBTU_DECEMBER'], var_name='month', value_name='ekbtu', col_level=None)

In [59]:
transposed.shape

(188772, 4)

In [60]:
transposed.head()

         PID  REPORTINGYEAR                        month  ekbtu
0  PM3412372           2017  ELECTRICITYUSE_KBTU_JANUARY    0.0
1  PM5811457           2017  ELECTRICITYUSE_KBTU_JANUARY    0.0
2  PM3365834           2017  ELECTRICITYUSE_KBTU_JANUARY    0.0
3  PM3996159           2017  ELECTRICITYUSE_KBTU_JANUARY    0.0
4  PM3412381           2017  ELECTRICITYUSE_KBTU_JANUARY    0.0

In [56]:
transposed.to_csv('transposed.csv')