In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/rv14996/Power-Rangers\data\Building_Energy_Benchmarks.csv')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.head()

,X,Y,OBJECTID,PID,DCREALPROPERTYID,PMPROPERTYID,PROPERTYNAME,PMPARENTPROPERTYID,PARENTPROPERTYNAME,REPORTINGYEAR,...,ELECTRICITYUSE_KBTU_MARCH,ELECTRICITYUSE_KBTU_APRIL,ELECTRICITYUSE_KBTU_MAY,ELECTRICITYUSE_KBTU_JUNE,ELECTRICITYUSE_KBTU_JULY,ELECTRICITYUSE_KBTU_AUGUST,ELECTRICITYUSE_KBTU_SEPTEMBER,ELECTRICITYUSE_KBTU_OCTOBER,ELECTRICITYUSE_KBTU_NOVEMBER,ELECTRICITYUSE_KBTU_DECEMBER
0,-77.045790,38.905965,1,PM2969314,0099_0050,2969314.0,2025 M Street,NaN,NaN,2017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-77.039229,38.904060,2,PM1431050,0162_0821,1431050.0,1707 L Street,NaN,NaN,2017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-77.018063,38.876065,3,PM2791015,0502_0184,2791015.0,"Tiber Island Cooperative Homes, Inc.",NaN,NaN,2017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-77.030525,38.902941,4,PM3435335,0248_0830,3435335.0,One Franklin Square 2,NaN,NaN,2017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-77.032284,38.902191,5,PM1071004,0218_0079,1071004.0,1400 K Street,NaN,NaN,2017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.shape

(15508, 71)

In [6]:
df.isnull().sum()

X                                   0
Y                                   0
OBJECTID                            0
PID                                 0
DCREALPROPERTYID                    0
                                 ...
ELECTRICITYUSE_KBTU_AUGUST       2831
ELECTRICITYUSE_KBTU_SEPTEMBER    2831
ELECTRICITYUSE_KBTU_OCTOBER      2831
ELECTRICITYUSE_KBTU_NOVEMBER     2831
ELECTRICITYUSE_KBTU_DECEMBER     2831
Length: 71, dtype: int64

In [7]:
df[df.duplicated(subset=['PID'])]

,X,Y,OBJECTID,PID,DCREALPROPERTYID,PMPROPERTYID,PROPERTYNAME,PMPARENTPROPERTYID,PARENTPROPERTYNAME,REPORTINGYEAR,...,ELECTRICITYUSE_KBTU_MARCH,ELECTRICITYUSE_KBTU_APRIL,ELECTRICITYUSE_KBTU_MAY,ELECTRICITYUSE_KBTU_JUNE,ELECTRICITYUSE_KBTU_JULY,ELECTRICITYUSE_KBTU_AUGUST,ELECTRICITYUSE_KBTU_SEPTEMBER,ELECTRICITYUSE_KBTU_OCTOBER,ELECTRICITYUSE_KBTU_NOVEMBER,ELECTRICITYUSE_KBTU_DECEMBER
226,-77.020662,38.905493,227,PM3679816,0449_0059,3679816.0,McCollough Paradise Gardens Apartments,NaN,NaN,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
228,-77.073580,38.926002,229,PM3857667,1932_0810,3857667.0,Skyline Towers Apartments,NaN,NaN,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,-77.008452,38.901109,269,PM1391419,0675_0855,1391419.0,899 North Capitol Street (Union Square),NaN,NaN,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271,-77.045492,38.918604,272,PM3274455,2538_0806,3274455.0,1901 Wyoming Avenue NW,NaN,NaN,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275,-77.040436,38.926866,276,PM3857670,2589_0477,3857670.0,Park Ellison Apartments,NaN,NaN,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15502,-77.076360,38.942988,15503,PM4985823,1829_0056,4985823.0,4115 Wisconsin Ave NW,NaN,NaN,2018,...,43932.9,43663.4,43503.0,63705.4,80349.2,79366.5,100804.1,59235.7,55370.0,41906.2
15503,-77.005622,38.881314,15504,PM5037186,0695_0033,5037186.0,Ore 82- Greystar,NaN,NaN,2018,...,64282.1,69280.1,85674.4,93780.4,104017.6,106912.3,103273.0,82195.3,66897.3,69925.7
15504,-77.062533,38.902853,15505,PM5048298,1189_2571,5048298.0,26540 - Georgetown 14,NaN,NaN,2018,...,492679.3,442137.3,469265.9,482310.0,424749.6,483609.9,409122.6,444290.1,441608.4,487568.0
15506,-77.048541,38.919065,15507,PM4376417,2541_1131,4376417.0,The Woodward,NaN,NaN,2018,...,84778.9,86299.0,122646.2,187152.2,225801.4,217402.5,177365.7,109037.5,68016.0,60385.7
15507,-77.052373,38.925795,15508,PM3997811,2208_0062,3997811.0,2701 Conneticut Ave NW,NaN,NaN,2018,...,94560.7,93717.4,118931.9,160929.5,176740.3,191346.2,153270.3,111737.0,99646.4,93048.8

In [8]:
df[df.duplicated(subset=['PID', 'REPORTINGYEAR'])]

Empty DataFrame
Columns: [X, Y, OBJECTID, PID, DCREALPROPERTYID, PMPROPERTYID, PROPERTYNAME, PMPARENTPROPERTYID, PARENTPROPERTYNAME, REPORTINGYEAR, REPORTSTATUS, ADDRESSOFRECORD, OWNEROFRECORD, WARD, REPORTEDADDRESS, CITY, STATE, POSTALCODE, YEARBUILT, PRIMARYPROPERTYTYPE_SELFSELECT, PRIMARYPROPERTYTYPE_EPACALC, TAXRECORDFLOORAREA, REPORTEDBUILDINGGROSSFLOORAREA, ENERGYSTARSCORE, SITEEUI_KBTU_FT, WEATHERNORMALZEDSITEEUI_KBTUFT, SOURCEEUI_KBTU_FT, WEATHERNORMALZEDSOUREUI_KBTUFT, TOTGHGEMISSIONS_METRICTONSCO2E, TOTGHGEMISSINTENSITY_KGCO2EFT, WATERSCORE_MFPROPERTIES, WATERUSE_ALLWATERSOURCES_KGAL, NATURALGASUSE_THERMS, FUELOILANDDIESELFUELUSEKBTU, METEREDAREAS_ENERGY, METEREDAREAS_WATER, LATITUDE, LONGITUDE, ADDRESSID, XCOORD, YCOORD, GIS_LAST_MOD_DTTM, DISTRCHILLEDWATER_KBTU, DISTRHOTWATER_KBTU, DISTRSTEAM_KBTU, ELECTRICITYUSE_RENEWABLE_KWH, ELECTRICITYUSE_GRID_KWH, NATURALGAS_KBTU_JANUARY, NATURALGAS_KBTU_FEBRUARY, NATURALGAS_KBTU_MARCH, NATURALGAS_KBTU_APRIL, NATURALGAS_KBTU_MAY, NATURALGAS_KBTU_JUNE, NATURALGAS_KBTU_JULY, NATURALGAS_KBTU_AUGUST, NATURALGAS_KBTU_SEPTEMBER, NATURALGAS_KBTU_OCTOBER, NATURALGAS_KBTU_NOVEMBER, NATURALGAS_KBTU_DECEMBER, ELECTRICITYUSE_KBTU_JANUARY, ELECTRICITYUSE_KBTU_FEBRUARY, ELECTRICITYUSE_KBTU_MARCH, ELECTRICITYUSE_KBTU_APRIL, ELECTRICITYUSE_KBTU_MAY, ELECTRICITYUSE_KBTU_JUNE, ELECTRICITYUSE_KBTU_JULY, ELECTRICITYUSE_KBTU_AUGUST, ELECTRICITYUSE_KBTU_SEPTEMBER, ELECTRICITYUSE_KBTU_OCTOBER, ELECTRICITYUSE_KBTU_NOVEMBER, ELECTRICITYUSE_KBTU_DECEMBER]
Index: []

[0 rows x 71 columns]

In [9]:
def buildings_with_12_month_elec_data(integer):
    reportingyear_counts = df.groupby(['PID'])['REPORTINGYEAR'].count().reset_index(name='Count')

In [10]:
def buildings_with_12_month_elec_data(integer):
    reportingyear_counts = df.groupby(['PID'])['REPORTINGYEAR'].count().reset_index(name='Count')
    return reportingyear_counts[reportingyear_counts['Count'] >= integer].sort_values(by=['Count'], ascending=False)

In [12]:
reportingyear_counts = 1

In [13]:
twelve_months_elec = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0)]

In [14]:
print(twelve_months_elec)

               X          Y  OBJECTID        PID DCREALPROPERTYID  \
440   -77.074769  38.968411       441  PM3989358        1863_0047
441   -76.933130  38.890112       442  PM4019462        5140_0088
443   -77.006057  38.885578       444  PM3362197        0692_0819
444   -77.001099  38.875898       445  PM3353520        0770_0809
445   -77.058497  38.936400       446  PM5831585        2222_0015
...          ...        ...       ...        ...              ...
15502 -77.076360  38.942988     15503  PM4985823        1829_0056
15503 -77.005622  38.881314     15504  PM5037186        0695_0033
15504 -77.062533  38.902853     15505  PM5048298        1189_2571
15506 -77.048541  38.919065     15507  PM4376417        2541_1131
15507 -77.052373  38.925795     15508  PM3997811        2208_0062

       PMPROPERTYID              PROPERTYNAME  PMPARENTPROPERTYID  \
440       3989358.0  Blessed Sacrament School                 NaN
441       4019462.0  Carver Senior Apartments                 NaN
443       3362197.0            300 New Jersey                 NaN
444       3353520.0            USDOT Building                 NaN
445       5831585.0         Sam's Park & Shop                 NaN
...             ...                       ...                 ...
15502     4985823.0     4115 Wisconsin Ave NW                 NaN
15503     5037186.0          Ore 82- Greystar                 NaN
15504     5048298.0     26540 - Georgetown 14                 NaN
15506     4376417.0              The Woodward                 NaN
15507     3997811.0    2701 Conneticut Ave NW                 NaN

      PARENTPROPERTYNAME  REPORTINGYEAR  ... ELECTRICITYUSE_KBTU_MARCH  \
440                  NaN           2018  ...                  244459.5
441                  NaN           2018  ...                  188904.9
443                  NaN           2018  ...                 1460001.7
444                  NaN           2018  ...                 6456844.3
445                  NaN           2018  ...                  201499.1
...                  ...            ...  ...                       ...
15502                NaN           2018  ...                   43932.9
15503                NaN           2018  ...                   64282.1
15504                NaN           2018  ...                  492679.3
15506                NaN           2018  ...                   84778.9
15507                NaN           2018  ...                   94560.7

      ELECTRICITYUSE_KBTU_APRIL ELECTRICITYUSE_KBTU_MAY  \
440                    249621.6                369074.3
441                    181651.2                183472.7
443                   1513017.3               1383634.2
444                   6867588.0               7725909.9
445                    190085.9                159534.9
...                         ...                     ...
15502                   43663.4                 43503.0
15503                   69280.1                 85674.4
15504                  442137.3                469265.9
15506                   86299.0                122646.2
15507                   93717.4                118931.9

       ELECTRICITYUSE_KBTU_JUNE ELECTRICITYUSE_KBTU_JULY  \
440                    401577.1                 412206.3
441                    222855.8                 226240.9
443                   1503630.9                1525767.9
444                   7686054.0                8202817.0
445                    208790.5                 218470.4
...                         ...                      ...
15502                   63705.4                  80349.2
15503                   93780.4                 104017.6
15504                  482310.0                 424749.6
15506                  187152.2                 225801.4
15507                  160929.5                 176740.3

      ELECTRICITYUSE_KBTU_AUGUST ELECTRICITYUSE_KBTU_SEPTEMBER  \
440                     436633.4                      417371.8
441                     222273.3                      230818.8
443                    1441989.8                     1552695.3
444                    8115533.4                     8028795.0
445                     235830.6                      274962.8
...                          ...                           ...
15502                    79366.5                      100804.1
15503                   106912.3                      103273.0
15504                   483609.9                      409122.6
15506                   217402.5                      177365.7
15507                   191346.2                      153270.3

      ELECTRICITYUSE_KBTU_OCTOBER  ELECTRICITYUSE_KBTU_NOVEMBER  \
440                      311391.4                      233335.3
441                      194710.9                      223200.6
443                     1278851.7                     1464485.1
444                     7604817.7                     6386334.0
445                      181617.3                      183569.0
...                           ...                           ...
15502                     59235.7                       55370.0
15503                     82195.3                       66897.3
15504                    444290.1                      441608.4
15506                    109037.5                       68016.0
15507                    111737.0                       99646.4

      ELECTRICITYUSE_KBTU_DECEMBER
440                       223106.3
441                       113218.0
443                      1444722.8
444                      6230119.6
445                       336982.7
...                            ...
15502                      41906.2
15503                      69925.7
15504                     487568.0
15506                      60385.7
15507                      93048.8

[3348 rows x 71 columns]

In [15]:
tme_energy_star = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0)]

In [16]:
print(tme_energy_star)

               X          Y  OBJECTID        PID DCREALPROPERTYID  \
440   -77.074769  38.968411       441  PM3989358        1863_0047
441   -76.933130  38.890112       442  PM4019462        5140_0088
443   -77.006057  38.885578       444  PM3362197        0692_0819
444   -77.001099  38.875898       445  PM3353520        0770_0809
446   -77.034955  38.922858       447  PM4007727        2663_0845
...          ...        ...       ...        ...              ...
15501 -77.068176  38.951102     15502  PM4382000        1978_3014
15502 -77.076360  38.942988     15503  PM4985823        1829_0056
15503 -77.005622  38.881314     15504  PM5037186        0695_0033
15506 -77.048541  38.919065     15507  PM4376417        2541_1131
15507 -77.052373  38.925795     15508  PM3997811        2208_0062

       PMPROPERTYID              PROPERTYNAME  PMPARENTPROPERTYID  \
440       3989358.0  Blessed Sacrament School                 NaN
441       4019462.0  Carver Senior Apartments                 NaN
443       3362197.0            300 New Jersey                 NaN
444       3353520.0            USDOT Building                 NaN
446       4007727.0           2445 15th St NW                 NaN
...             ...                       ...                 ...
15501     4382000.0              Parker House                 NaN
15502     4985823.0     4115 Wisconsin Ave NW                 NaN
15503     5037186.0          Ore 82- Greystar                 NaN
15506     4376417.0              The Woodward                 NaN
15507     3997811.0    2701 Conneticut Ave NW                 NaN

      PARENTPROPERTYNAME  REPORTINGYEAR  ... ELECTRICITYUSE_KBTU_MARCH  \
440                  NaN           2018  ...                  244459.5
441                  NaN           2018  ...                  188904.9
443                  NaN           2018  ...                 1460001.7
444                  NaN           2018  ...                 6456844.3
446                  NaN           2018  ...                   57293.7
...                  ...            ...  ...                       ...
15501                NaN           2018  ...                   86498.0
15502                NaN           2018  ...                   43932.9
15503                NaN           2018  ...                   64282.1
15506                NaN           2018  ...                   84778.9
15507                NaN           2018  ...                   94560.7

      ELECTRICITYUSE_KBTU_APRIL ELECTRICITYUSE_KBTU_MAY  \
440                    249621.6                369074.3
441                    181651.2                183472.7
443                   1513017.3               1383634.2
444                   6867588.0               7725909.9
446                     57748.2                 71493.5
...                         ...                     ...
15501                   78491.7                 86452.2
15502                   43663.4                 43503.0
15503                   69280.1                 85674.4
15506                   86299.0                122646.2
15507                   93717.4                118931.9

       ELECTRICITYUSE_KBTU_JUNE ELECTRICITYUSE_KBTU_JULY  \
440                    401577.1                 412206.3
441                    222855.8                 226240.9
443                   1503630.9                1525767.9
444                   7686054.0                8202817.0
446                     96039.0                 125164.0
...                         ...                      ...
15501                  126240.4                 177860.9
15502                   63705.4                  80349.2
15503                   93780.4                 104017.6
15506                  187152.2                 225801.4
15507                  160929.5                 176740.3

      ELECTRICITYUSE_KBTU_AUGUST ELECTRICITYUSE_KBTU_SEPTEMBER  \
440                     436633.4                      417371.8
441                     222273.3                      230818.8
443                    1441989.8                     1552695.3
444                    8115533.4                     8028795.0
446                     118650.7                      125713.2
...                          ...                           ...
15501                   173242.4                      186741.4
15502                    79366.5                      100804.1
15503                   106912.3                      103273.0
15506                   217402.5                      177365.7
15507                   191346.2                      153270.3

      ELECTRICITYUSE_KBTU_OCTOBER  ELECTRICITYUSE_KBTU_NOVEMBER  \
440                      311391.4                      233335.3
441                      194710.9                      223200.6
443                     1278851.7                     1464485.1
444                     7604817.7                     6386334.0
446                       77361.6                       71501.0
...                           ...                           ...
15501                    113683.6                       99871.2
15502                     59235.7                       55370.0
15503                     82195.3                       66897.3
15506                    109037.5                       68016.0
15507                    111737.0                       99646.4

      ELECTRICITYUSE_KBTU_DECEMBER
440                       223106.3
441                       113218.0
443                      1444722.8
444                      6230119.6
446                        57637.7
...                            ...
15501                      81604.6
15502                      41906.2
15503                      69925.7
15506                      60385.7
15507                      93048.8

[2834 rows x 71 columns]

In [17]:
tmeess_ghg = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0)]

In [18]:
print(tmeess_ghg)

               X          Y  OBJECTID        PID DCREALPROPERTYID  \
440   -77.074769  38.968411       441  PM3989358        1863_0047
441   -76.933130  38.890112       442  PM4019462        5140_0088
443   -77.006057  38.885578       444  PM3362197        0692_0819
444   -77.001099  38.875898       445  PM3353520        0770_0809
446   -77.034955  38.922858       447  PM4007727        2663_0845
...          ...        ...       ...        ...              ...
15501 -77.068176  38.951102     15502  PM4382000        1978_3014
15502 -77.076360  38.942988     15503  PM4985823        1829_0056
15503 -77.005622  38.881314     15504  PM5037186        0695_0033
15506 -77.048541  38.919065     15507  PM4376417        2541_1131
15507 -77.052373  38.925795     15508  PM3997811        2208_0062

       PMPROPERTYID              PROPERTYNAME  PMPARENTPROPERTYID  \
440       3989358.0  Blessed Sacrament School                 NaN
441       4019462.0  Carver Senior Apartments                 NaN
443       3362197.0            300 New Jersey                 NaN
444       3353520.0            USDOT Building                 NaN
446       4007727.0           2445 15th St NW                 NaN
...             ...                       ...                 ...
15501     4382000.0              Parker House                 NaN
15502     4985823.0     4115 Wisconsin Ave NW                 NaN
15503     5037186.0          Ore 82- Greystar                 NaN
15506     4376417.0              The Woodward                 NaN
15507     3997811.0    2701 Conneticut Ave NW                 NaN

      PARENTPROPERTYNAME  REPORTINGYEAR  ... ELECTRICITYUSE_KBTU_MARCH  \
440                  NaN           2018  ...                  244459.5
441                  NaN           2018  ...                  188904.9
443                  NaN           2018  ...                 1460001.7
444                  NaN           2018  ...                 6456844.3
446                  NaN           2018  ...                   57293.7
...                  ...            ...  ...                       ...
15501                NaN           2018  ...                   86498.0
15502                NaN           2018  ...                   43932.9
15503                NaN           2018  ...                   64282.1
15506                NaN           2018  ...                   84778.9
15507                NaN           2018  ...                   94560.7

      ELECTRICITYUSE_KBTU_APRIL ELECTRICITYUSE_KBTU_MAY  \
440                    249621.6                369074.3
441                    181651.2                183472.7
443                   1513017.3               1383634.2
444                   6867588.0               7725909.9
446                     57748.2                 71493.5
...                         ...                     ...
15501                   78491.7                 86452.2
15502                   43663.4                 43503.0
15503                   69280.1                 85674.4
15506                   86299.0                122646.2
15507                   93717.4                118931.9

       ELECTRICITYUSE_KBTU_JUNE ELECTRICITYUSE_KBTU_JULY  \
440                    401577.1                 412206.3
441                    222855.8                 226240.9
443                   1503630.9                1525767.9
444                   7686054.0                8202817.0
446                     96039.0                 125164.0
...                         ...                      ...
15501                  126240.4                 177860.9
15502                   63705.4                  80349.2
15503                   93780.4                 104017.6
15506                  187152.2                 225801.4
15507                  160929.5                 176740.3

      ELECTRICITYUSE_KBTU_AUGUST ELECTRICITYUSE_KBTU_SEPTEMBER  \
440                     436633.4                      417371.8
441                     222273.3                      230818.8
443                    1441989.8                     1552695.3
444                    8115533.4                     8028795.0
446                     118650.7                      125713.2
...                          ...                           ...
15501                   173242.4                      186741.4
15502                    79366.5                      100804.1
15503                   106912.3                      103273.0
15506                   217402.5                      177365.7
15507                   191346.2                      153270.3

      ELECTRICITYUSE_KBTU_OCTOBER  ELECTRICITYUSE_KBTU_NOVEMBER  \
440                      311391.4                      233335.3
441                      194710.9                      223200.6
443                     1278851.7                     1464485.1
444                     7604817.7                     6386334.0
446                       77361.6                       71501.0
...                           ...                           ...
15501                    113683.6                       99871.2
15502                     59235.7                       55370.0
15503                     82195.3                       66897.3
15506                    109037.5                       68016.0
15507                    111737.0                       99646.4

      ELECTRICITYUSE_KBTU_DECEMBER
440                       223106.3
441                       113218.0
443                      1444722.8
444                      6230119.6
446                        57637.7
...                            ...
15501                      81604.6
15502                      41906.2
15503                      69925.7
15506                      60385.7
15507                      93048.8

[2823 rows x 71 columns]

In [19]:
 tmeessghg_water = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0)]

In [20]:
print(tmeessghg_water)

               X          Y  OBJECTID        PID DCREALPROPERTYID  \
440   -77.074769  38.968411       441  PM3989358        1863_0047
441   -76.933130  38.890112       442  PM4019462        5140_0088
443   -77.006057  38.885578       444  PM3362197        0692_0819
444   -77.001099  38.875898       445  PM3353520        0770_0809
446   -77.034955  38.922858       447  PM4007727        2663_0845
...          ...        ...       ...        ...              ...
15501 -77.068176  38.951102     15502  PM4382000        1978_3014
15502 -77.076360  38.942988     15503  PM4985823        1829_0056
15503 -77.005622  38.881314     15504  PM5037186        0695_0033
15506 -77.048541  38.919065     15507  PM4376417        2541_1131
15507 -77.052373  38.925795     15508  PM3997811        2208_0062

       PMPROPERTYID              PROPERTYNAME  PMPARENTPROPERTYID  \
440       3989358.0  Blessed Sacrament School                 NaN
441       4019462.0  Carver Senior Apartments                 NaN
443       3362197.0            300 New Jersey                 NaN
444       3353520.0            USDOT Building                 NaN
446       4007727.0           2445 15th St NW                 NaN
...             ...                       ...                 ...
15501     4382000.0              Parker House                 NaN
15502     4985823.0     4115 Wisconsin Ave NW                 NaN
15503     5037186.0          Ore 82- Greystar                 NaN
15506     4376417.0              The Woodward                 NaN
15507     3997811.0    2701 Conneticut Ave NW                 NaN

      PARENTPROPERTYNAME  REPORTINGYEAR  ... ELECTRICITYUSE_KBTU_MARCH  \
440                  NaN           2018  ...                  244459.5
441                  NaN           2018  ...                  188904.9
443                  NaN           2018  ...                 1460001.7
444                  NaN           2018  ...                 6456844.3
446                  NaN           2018  ...                   57293.7
...                  ...            ...  ...                       ...
15501                NaN           2018  ...                   86498.0
15502                NaN           2018  ...                   43932.9
15503                NaN           2018  ...                   64282.1
15506                NaN           2018  ...                   84778.9
15507                NaN           2018  ...                   94560.7

      ELECTRICITYUSE_KBTU_APRIL ELECTRICITYUSE_KBTU_MAY  \
440                    249621.6                369074.3
441                    181651.2                183472.7
443                   1513017.3               1383634.2
444                   6867588.0               7725909.9
446                     57748.2                 71493.5
...                         ...                     ...
15501                   78491.7                 86452.2
15502                   43663.4                 43503.0
15503                   69280.1                 85674.4
15506                   86299.0                122646.2
15507                   93717.4                118931.9

       ELECTRICITYUSE_KBTU_JUNE ELECTRICITYUSE_KBTU_JULY  \
440                    401577.1                 412206.3
441                    222855.8                 226240.9
443                   1503630.9                1525767.9
444                   7686054.0                8202817.0
446                     96039.0                 125164.0
...                         ...                      ...
15501                  126240.4                 177860.9
15502                   63705.4                  80349.2
15503                   93780.4                 104017.6
15506                  187152.2                 225801.4
15507                  160929.5                 176740.3

      ELECTRICITYUSE_KBTU_AUGUST ELECTRICITYUSE_KBTU_SEPTEMBER  \
440                     436633.4                      417371.8
441                     222273.3                      230818.8
443                    1441989.8                     1552695.3
444                    8115533.4                     8028795.0
446                     118650.7                      125713.2
...                          ...                           ...
15501                   173242.4                      186741.4
15502                    79366.5                      100804.1
15503                   106912.3                      103273.0
15506                   217402.5                      177365.7
15507                   191346.2                      153270.3

      ELECTRICITYUSE_KBTU_OCTOBER  ELECTRICITYUSE_KBTU_NOVEMBER  \
440                      311391.4                      233335.3
441                      194710.9                      223200.6
443                     1278851.7                     1464485.1
444                     7604817.7                     6386334.0
446                       77361.6                       71501.0
...                           ...                           ...
15501                    113683.6                       99871.2
15502                     59235.7                       55370.0
15503                     82195.3                       66897.3
15506                    109037.5                       68016.0
15507                    111737.0                       99646.4

      ELECTRICITYUSE_KBTU_DECEMBER
440                       223106.3
441                       113218.0
443                      1444722.8
444                      6230119.6
446                        57637.7
...                            ...
15501                      81604.6
15502                      41906.2
15503                      69925.7
15506                      60385.7
15507                      93048.8

[2535 rows x 71 columns]

In [21]:
tmeessghg_water_2019 = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0) & (df['REPORTINGYEAR']==2019)]

In [22]:
print(tmeessghg_water_2019)

               X          Y  OBJECTID        PID DCREALPROPERTYID  \
453   -77.011535  38.897860       454  PM1424750        0626_0079
454   -77.046342  38.903174       455  PM1380075        0076_0088
456   -77.032681  38.908902       457  PM3672674        0210_0126
457   -77.055103  38.897810       458  PM1163866        0008_0811
459   -77.022419  38.945610       460  PM4563778        3138_0067
...          ...        ...       ...        ...              ...
14503 -77.001170  38.901658     14504  PM3993848        0775_0050
14543 -77.045654  38.904062     14544  PM2938280        0100_0103
14544 -77.045628  38.902845     14545  PM1496039        0076_0083
14546 -77.046296  38.901649     14547  PM1423599        0078_0848
14547 -77.010570  38.896414     14548  PM3636028        0628_0859

       PMPROPERTYID                                       PROPERTYNAME  \
453       1424750.0                     133510 - 601 New Jersey Avenue
454       1380075.0                                  2033 K Street, NW
456       3672674.0                            Newport West Apartments
457       1163866.0                                      Watergate 600
459       4563778.0  E.L. Haynes Public Charter School - Kansas Ave...
...             ...                                                ...
14503     3993848.0                                 DC003_AVA H Street
14543     2938280.0            American Society of Hematology Building
14544     1496039.0                                  2021 K Street, NW
14546     1423599.0                                      2099 Penn Ave
14547     3636028.0                                      Capital Plaza

       PMPARENTPROPERTYID PARENTPROPERTYNAME  REPORTINGYEAR  ...  \
453                   NaN                NaN           2019  ...
454                   NaN                NaN           2019  ...
456                   NaN                NaN           2019  ...
457                   NaN                NaN           2019  ...
459                   NaN                NaN           2019  ...
...                   ...                ...            ...  ...
14503                 NaN                NaN           2019  ...
14543                 NaN                NaN           2019  ...
14544                 NaN                NaN           2019  ...
14546                 NaN                NaN           2019  ...
14547                 NaN                NaN           2019  ...

      ELECTRICITYUSE_KBTU_MARCH ELECTRICITYUSE_KBTU_APRIL  \
453                   1259713.4                 1093966.6
454                    843056.8                  417052.3
456                    135232.8                  134998.0
457                   1260034.7                 1167204.4
459                    266937.9                  252056.6
...                         ...                       ...
14503                  395556.6                  309427.5
14543                  213896.0                  208215.5
14544                  679152.0                  533384.1
14546                 1189432.1                 1099610.5
14547                  104195.4                  105588.5

      ELECTRICITYUSE_KBTU_MAY  ELECTRICITYUSE_KBTU_JUNE  \
453                 1196149.9                 1193667.5
454                  378488.3                  490308.4
456                  168026.0                  209739.9
457                 1195019.5                 1284617.4
459                  309800.7                  287708.6
...                       ...                       ...
14503                291964.8                  309570.9
14543                230828.4                  238546.2
14544                587525.3                  594260.7
14546               1202529.6                 1196951.6
14547                134877.5                  168847.8

      ELECTRICITYUSE_KBTU_JULY ELECTRICITYUSE_KBTU_AUGUST  \
453                  1330209.3                  1285579.8
454                   552655.6                   481183.8
456                   252772.6                   235613.7
457                  1505535.5                  1522269.2
459                   363602.6                   402901.4
...                        ...                        ...
14503                 363262.0                   377462.8
14543                 285002.7                   277437.8
14544                 663239.4                   649766.2
14546                1286092.9                  1305491.0
14547                 206382.4                   190003.7

      ELECTRICITYUSE_KBTU_SEPTEMBER ELECTRICITYUSE_KBTU_OCTOBER  \
453                       1254663.8                   1180723.3
454                        352002.7                    391721.9
456                        196168.7                    160034.7
457                       1316803.1                   1219283.8
459                        322965.4                    259634.0
...                             ...                         ...
14503                      320328.9                    316964.5
14543                      236444.1                    224324.3
14544                      575869.8                    544754.9
14546                     1219495.1                   1230710.7
14547                      163080.3                    114421.5

       ELECTRICITYUSE_KBTU_NOVEMBER ELECTRICITYUSE_KBTU_DECEMBER
453                       1208924.4                    1291277.1
454                        532509.5                     566981.4
456                        122508.1                     127482.4
457                       1140032.2                    1199131.5
459                        257105.2                     258578.5
...                             ...                          ...
14503                      297219.3                     318407.8
14543                      201366.5                     201899.5
14544                      662860.8                     845089.4
14546                     1145459.4                    1165249.3
14547                      104036.6                     102880.3

[1284 rows x 71 columns]

In [23]:
tmeessghg_water_2019.count()

X                                1284
Y                                1284
OBJECTID                         1284
PID                              1284
DCREALPROPERTYID                 1284
                                 ...
ELECTRICITYUSE_KBTU_AUGUST       1284
ELECTRICITYUSE_KBTU_SEPTEMBER    1284
ELECTRICITYUSE_KBTU_OCTOBER      1284
ELECTRICITYUSE_KBTU_NOVEMBER     1284
ELECTRICITYUSE_KBTU_DECEMBER     1284
Length: 71, dtype: int64

In [25]:
tmeessghg_water_2018 = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0) & (df['REPORTINGYEAR']==2018)]

In [26]:
tmeessghg_water_2018.count()

X                                1251
Y                                1251
OBJECTID                         1251
PID                              1251
DCREALPROPERTYID                 1251
                                 ...
ELECTRICITYUSE_KBTU_AUGUST       1251
ELECTRICITYUSE_KBTU_SEPTEMBER    1251
ELECTRICITYUSE_KBTU_OCTOBER      1251
ELECTRICITYUSE_KBTU_NOVEMBER     1251
ELECTRICITYUSE_KBTU_DECEMBER     1251
Length: 71, dtype: int64

In [27]:
tmeessghg_water_2017 = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0) & (df['REPORTINGYEAR']==2017)]

In [28]:
tmeessghg_water_2017.count()

X                                0
Y                                0
OBJECTID                         0
PID                              0
DCREALPROPERTYID                 0
                                ..
ELECTRICITYUSE_KBTU_AUGUST       0
ELECTRICITYUSE_KBTU_SEPTEMBER    0
ELECTRICITYUSE_KBTU_OCTOBER      0
ELECTRICITYUSE_KBTU_NOVEMBER     0
ELECTRICITYUSE_KBTU_DECEMBER     0
Length: 71, dtype: int64

In [29]:
tmeessghgwatng_2019 = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0) & (df['REPORTINGYEAR']==2019) & df['NATURALGAS_KBTU_JANUARY']>0 & df['NATURALGAS_KBTU_FEBRUARY']>0 & df['NATURALGAS_KBTU_MARCH']>0 & df['NATURALGAS_KBTU_APRIL']>0 & df['NATURALGAS_KBTU_MAY']>0 & df['NATURALGAS_KBTU_JUNE']>0 & df['NATURALGAS_KBTU_JULY']>0 & df['NATURALGAS_KBTU_AUGUST']>0 & df['NATURALGAS_KBTU_SEPTEMBER']>0 & df['NATURALGAS_KBTU_OCTOBER']>0 & df['NATURALGAS_KBTU_NOVEMBER']>0 & df['NATURALGAS_KBTU_DECEMBER']>0]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [30]:
tmeessghgwatng_2019 = df[(df['ELECTRICITYUSE_KBTU_JANUARY']>0) & (df['ELECTRICITYUSE_KBTU_FEBRUARY']>0) & (df['ELECTRICITYUSE_KBTU_MARCH']>0) & (df['ELECTRICITYUSE_KBTU_APRIL']>0) & (df['ELECTRICITYUSE_KBTU_MAY']>0) & (df['ELECTRICITYUSE_KBTU_JUNE']>0) & (df['ELECTRICITYUSE_KBTU_JULY']>0) & (df['ELECTRICITYUSE_KBTU_AUGUST']>0) & (df['ELECTRICITYUSE_KBTU_SEPTEMBER']>0) & (df['ELECTRICITYUSE_KBTU_OCTOBER']>0) & (df['ELECTRICITYUSE_KBTU_NOVEMBER']>0) & (df['ELECTRICITYUSE_KBTU_DECEMBER']>0) & (df['ENERGYSTARSCORE']>0) & (df['TOTGHGEMISSIONS_METRICTONSCO2E']>0) & (df['WATERUSE_ALLWATERSOURCES_KGAL']>0) & (df['REPORTINGYEAR']==2019) & (df['NATURALGAS_KBTU_JANUARY']>0) & (df['NATURALGAS_KBTU_FEBRUARY']>0) & (df['NATURALGAS_KBTU_MARCH']>0) & (df['NATURALGAS_KBTU_APRIL']>0) & (df['NATURALGAS_KBTU_MAY']>0) & (df['NATURALGAS_KBTU_JUNE']>0) & (df['NATURALGAS_KBTU_JULY']>0) & (df['NATURALGAS_KBTU_AUGUST']>0) & (df['NATURALGAS_KBTU_SEPTEMBER']>0) & (df['NATURALGAS_KBTU_OCTOBER']>0) & (df['NATURALGAS_KBTU_NOVEMBER']>0) & (df['NATURALGAS_KBTU_DECEMBER']>0)]

In [31]:
tmeessghgwatng_2019.count()

X                                877
Y                                877
OBJECTID                         877
PID                              877
DCREALPROPERTYID                 877
                                ...
ELECTRICITYUSE_KBTU_AUGUST       877
ELECTRICITYUSE_KBTU_SEPTEMBER    877
ELECTRICITYUSE_KBTU_OCTOBER      877
ELECTRICITYUSE_KBTU_NOVEMBER     877
ELECTRICITYUSE_KBTU_DECEMBER     877
Length: 71, dtype: int64